
#box{
    background-color: #5C96A9;
    width: auto;
    padding: 8px;
}
#box1{
    background-color: #5C96A9;
    width: fit-content;
    padding: 8px;
}

.hh{
    margin: 2px;
    
}
h2{
    color: #5C96A9;
    
    padding-top: 8px;
}
h5{
    color: #5C96A9;
    margin: 0;
    padding-top: 8px;
}
.line{
   background-color:   antiquewhite;
   width: 30%;
   margin-right: 70%;
   padding: 0.5px;
}
h3,h6,.text{
    color: antiquewhite;
}
.icon{
    width: 20px;
    height: 20px;
    margin: 7px;
}

.pad{
    margin: 5px;
}

.text1{
    font-size: x-small;
    color: #5C96A9;
}
.text2{
    font-size: small;
    
}
.text3{
    color: #5C96A9;
}
hr{
   background-color: #5C96A9;
   padding: 0.5px;
}

.link{
    text-decoration: none;
    text-align: center;
    color: antiquewhite;
}
.link2{
    color: black;
}

.specialpadding{
    margin-right: 45%;
    
}
